#************************************************************
# *文件名：Makefile
# *创建人：小菜_默
# *日  期：2013年12月03日
# *描  述：总控Makefile的配置文件
# *
# *修改人：xxxxx
# *日  期：xxxx年xx月xx日
# *描  述：
# ************************************************************


SQLITE_INC=./sqlite_include
LN_S_SQLITE_INC=../../../basesource/sqlite/_install-x86-yeetec/include/

SQLITE_LIB=./sqlite_lib
LN_S_SQLITE_LIB=../../../basesource/sqlite/_install-x86-yeetec/lib/

